In [ ]:

!wget -nv -O china_gdp.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/china_gdp.csv

2020-09-24 10:20:26 URL:https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/china_gdp.csv [1218/1218] -> "china_gdp.csv" [1]

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.optimize import curve_fit
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
def sigmoid(x,beta1,beta2):
  return (1/(1+np.exp(-beta1*(x-beta2))))

In [ ]:
df = pd.read_csv('china_gdp.csv')
df.head()

   Year         Value
0  1960  5.918412e+10
1  1961  4.955705e+10
2  1962  4.668518e+10
3  1963  5.009730e+10
4  1964  5.906225e+10

In [ ]:
x = df['Year']
y = df['Value']
x = x/max(x)
y= y/max(y)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 0)

In [ ]:

popt,pcov = curve_fit(sigmoid,x_train,y_train)

In [ ]:
y_test_hat = sigmoid(x_test,popt[0],popt[1])
mean_squared_error(y_test_hat,y_test),r2_score(y_test_hat,y_test)
print("Mean absolute error: %.2f" % np.mean(np.absolute(y_test_hat - y_test)))
print("Residual sum of squares (MSE): %.2f" % np.mean((y_test_hat - y_test) ** 2))
from sklearn.metrics import r2_score
print("R2-score: %.2f" % r2_score(y_test_hat , y_test) )

Mean absolute error: 0.03
Residual sum of squares (MSE): 0.00
R2-score: 0.90